*{
    margin:0;
    padding: 0;
}
/*$colordeheader: aqua;
$colorpabody: rgb(59, 29, 8);
$colorfooter: rgb(110, 47, 3);
$colores: aqua white rgb(110, 47, 3);

selector{
    div:nth($colores,3);
}

header{
    background-color: $colordeheader;
    a{
        color: white;
    }
}
body{
    border-bottom: 20px;
    background-color:$colorpabody;
}*/

